.k-react-carousel-box {
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: absolute;
    top: 0;
    transition: left .7s ease-in-out;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.k-react-carousel-box h1{
    background-color: #CCCCCC80;
    text-align: center;
    padding: 5px;
    color: #CCC;
    text-shadow: 3px 3px 3px #00000080;
    
}